{{!< layouts/main }}

<!-- Lista de participantes para administraci칩n -->
<section class="container mt-5">
  <h2>Administraci칩n de Participantes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Experiencia</th>
        <th>Especialidad</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each skaters}}
      <tr>
          <td>{{this.id}}</td>
          <td>
            <div class="profile-picture" style="background-image: url(../{{this.foto}});"></div>
          </td>
          <td>{{this.nombre}}</td>
          <td>{{this.anos_experiencia}} a침os</td>
          <td>{{this.especialidad}}</td>
          {{#if this.estado}}
          <td class="text-success font-weight-bold">Aprobado</td>
          {{else}}
          <td class="text-warning font-weight-bold">En revisi칩n</td>
          {{/if}}
          <td>
             <div class="switch-container">
            {{#unless this.estado}}
            <div class="form-check form-switch ">
                <input class="form-check-input " role="switch" type="checkbox"  id="skaterStatus{{this.id}}" {{#if this.estado}}checked{{/if}} data-skater-id="{{this.id}}">
           </div>
            {{else}}
            <div class="form-check form-switch">
                <input class="form-check-input " role="switch" type="checkbox"  id="skaterStatus{{this.id}}" {{#if this.estado}}checked{{/if}} data-skater-id="{{this.id}}">
            </div>
            {{/unless}}
            </div>
          </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
<script>


</script>
